@charset "UTF-8";

@font-face {
  font-family: "CN-R";
  src: url("SourceHanSansCN-Regular.woff2") format("woff2"),
       url("SourceHanSansCN-Regular.woff") format("woff"),
       url("SourceHanSansCN-Regular.ttf") format("truetype"),
       url("SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("SourceHanSansCN-Regular.svg") format("svg"),
       url("SourceHanSansCN-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}